.item{
    border: 1px solid #000;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 500px;
    width: 650px;
    margin: auto;
    padding: 0;
    background-color: white;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.buttons > button{
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-color: transparent;
    background-color: mediumslateblue;
    color: white;
}
.buttons > button:active {
    background-color: mediumslateblue;
    box-shadow: 0 5px rgb(27, 106, 224);
    transform: translateY(4px);
}

header{
    text-align: center;
    color: rgb(2, 30, 46);
}

footer{
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 500;
    font-family: fantasy;
    color: rgb(2, 30, 46)
}

body{
    background-color: deepskyblue;
}

@media screen and (max-width: 768px){
    .container{
        width: 330px;
        height: 330px;
    }

    .buttons > button{
        margin-left: 9px;
        padding: 2px;
    }
}